<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="/PekainExpress/css/style.css">
    <link rel="stylesheet" href="/PekainExpress/css/normalize.css">
    <link rel="stylesheet" href="/PekainExpress/css/connexion.css">
</head>
<body>
    <header id="header">
        <nav>
            <a href="index.html" class="home"><img src="/PekainExpress/img/Logo_Peking-express.png" alt="logo du site" class="logo"></a>
            <ul id="slide">
                <li><a href="/PekainExpress/template/train/index.html">Accueil</a></li>
                <li><a href="/PekainExpress/template/train/random.html">Aléatoire</a></li>
                <li><input type="search" placeholder="Recherche"></li>
            </ul>    
        </nav>
    </header>

    <div class="container">
        <h1>Connexion</h1>
        <form action="" method="post">
            <input type="text" name="username" class="id" placeholder="Nom d'utilisateur" required>
            <input type="password" name="password" class="password" placeholder="Mot de passe" required>
            <input type="submit" value="Se Connecter">
        </form>
    </div>
</body>
</html>