<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pekain Express</title>
    <link rel="stylesheet" href="/PekainExpress/css/style.css">
    <link rel="stylesheet" href="/PekainExpress/css/normalize.css">
</head>
<body>
    <header id="header">
        <nav>
            <a href="index.html" class="home"><img src="/PekainExpress/img/Logo_Peking-express.png" alt="logo du site" class="logo"></a>
            <ul id="slide">
                <li><a href="/PekainExpress/template/train/index.html">Accueil</a></li>
                <li><a href="/PekainExpress/template/train/random.html">Aléatoire</a></li>
                <li><a href="/PekainExpress/template/train/inscription.html">S'inscrire</a></li>
                <li><a href="/PekainExpress/template/train/connexion.html">Se connecter</a></li>
                <li><input type="search" placeholder="Recherche"></li>
            </ul>    
        </nav>
    </header>
    <table>
        <tr>
            <td class="color1" id="entete">Nom</td>
            <td id="entete">Destination</td>
            <td id="entete">Heure</td>
            <td id="entete"><a href="random.html" class="plus">Plus</a></td>
        </tr>
        <tr>
            <td class="color2"><a href="/PekainExpress/model/database.py/{{train.id}}">mes_trains</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color1"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color2"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color1"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color2"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color1"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color2"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color1"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color2"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color1"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color2"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color1"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color2"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color1"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color2"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color1"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color2"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color1"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color2"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color1"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="color2"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>