<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="/PekainExpress/css/style.css">
    <link rel="stylesheet" href="/PekainExpress/css/normalize.css">
    <link rel="stylesheet" href="/PekainExpress/css/inscription.css">
</head>
<body>
    <header id="header">
        <nav>
            <a href="index.html" class="home"><img src="/PekainExpress/img/Logo_Peking-express.png" alt="logo du site" class="logo"></a>
            <ul id="slide">
                <li><a href="/PekainExpress/template/train/index.html">Accueil</a></li>
                <li><a href="/PekainExpress/template/train/random.html">Aléatoire</a></li>
                <li><input type="search" placeholder="Recherche"></li>
            </ul>    
        </nav>
    </header>
    <div>
        <div class="container">
            <h1>Inscription</h1>
            <form action="" method="post">
                <input type="text" name="username" placeholder="Nom d'utilisateur" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Mot de passe" required>
                <input type="password" name="verif_password" placeholder="Vérifier mot de passe">
                <input type="submit" value="S'inscrire">
            </form>
        </div>
    </div>

</body>
</html>