<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <link rel="stylesheet" href="/PekainExpress/css/style.css">
    <link rel="stylesheet" href="/PekainExpress/css/normalize.css">
    <link rel="stylesheet" href="/PekainExpress/css/show.css">
</head>
<body>
    <header id="header">
        <nav>
            <a href="index.html" class="home"><img src="/PekainExpress/img/Logo_Peking-express.png" alt="logo du site" class="logo"></a>
            <ul id="slide">
                <li><a href="/PekainExpress/template/train/index.html">Accueil</a></li>
                <li><a href="/PekainExpress/template/train/random.html">Aléatoire</a></li>
                <li><input type="search" placeholder="Recherche"></li>
            </ul>    
        </nav>
    </header>
    <main id="main">
        <div>
            <h1>Plan de la ligne </h1>
            <br>
            <img src="" alt="">
        </div>

    </main>
</body>
</html>